html {
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace !important;
}

li {
  list-style: none;
}

h6 {
  padding: 10px 0 0 10px;
  font: Courier !important;
}

#app {
  margin-bottom: 5vh;
}

.page-heading {
  margin-bottom: 0 !important;
}

.content-wrapper {
  --margin-x: 0vw;
  margin: 0 var(--margin-x) !important;
  max-width: calc(100vw - var(--margin-x)) !important;
  padding: 0 1vw !important;
}

html[data-bs-theme="dark"] .row > * {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0.5rem;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.3) !important;
  padding-left: calc(var(--bs-gutter-x) * 0.3) !important;
  padding-top: var(--bs-gutter-y);
}

.main-navbar,
.header-top {
  background-color: #151521 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main-navbar .container {
  justify-content: flex-start !important;
}

.header-top .container {
  width: 100vw !important;
  margin: 0 !important;
}

.card-header {
  padding: 0 !important;
  margin: 10px 0 0 10px;
}

.description {
  height: auto !important;
}

.fa-compress {
  margin: 10px 10px 0 0;
  align-self: flex-end;
}

.description .card {
  padding-bottom: 5vh;
}

.card {
  margin-bottom: 0 !important;
}

.col-4,
.col-12 {
  margin-top: 0 !important;
}

#diaSpace {
  width: 93%;
  min-height: 80vh;
  margin-left: 1%;
}

.joint-cell {
  display: block;
}

.center {
  align-items: center;
  justify-content: center;
}

.table-responsive {
  margin: 8px;
}

td,
th {
  height: 10px;
  padding: 5px !important;
}

.header-top .container {
  padding-left: 0 !important;
}
