

#add-project{
    padding: 30px;
}

.addPrj-hd{
    display: flex;
    justify-content: space-between;
}

.addPrj-hd-left span{
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

button{
    padding: 2px 5px;
    background: none;
    border: none;
}

.add-device-mockup{
    position: fixed;
    top: 5%;
    left: 35%;
}

.add-device-btn{
    cursor: pointer;
}

.add-device-hd span{
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 75%;
}

.device-hd span{
    margin-right: 30px;
    font-weight: bold;
}

.device-hd .add-channel-btn, .edit-device-btn, .delete-device-btn{
    cursor: pointer;
}

.add-device-mockup label{
    width: 120px;
    padding: 10px;
}

.structure-mockup{
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: #1E1E2D;
    border: 2px #ffffff solid;
    overflow-y: scroll;
    padding: 50px;
    z-index: 100;
}

.add-channel-mockup .card{
    border: 2px #ccc solid !important;
}


.add-channel-mockup{
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    z-index: 10;
}

#chonch {
    min-width: 64px;
}

.channel-btns, .device-btns{
    justify-content: right;
    /* position: fixed; */
}

.channel-btns span, .device-btns span, .struc-save, .struc-close{
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
    border: #949494 1px solid;
    border-radius: 45%;
    transition: all 0.3s;
}

.channel-btns span:hover, .device-btns span:hover{
    color: #302d2d;
    background-color: #949494;
}

/*  */

.container {
    margin: 50px auto;
    width: 80%;
    display: inline;
}

.block {
    padding: 5px 10px 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.block-level-1{
    border: 1px solid #ccc;
}

.add-button{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.block .add-button, .delete-button {
    color: #ccc;
    padding: 0px 10px;
    border: none;
    cursor: pointer;
}
.block .cancel-button {
    /* color: #007bff; */
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.block .add-input {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}
.block-level-2, .block-level-3, .block-level-4 {
    margin-left: 20px;
}

.level-select{
    padding: 5px ;
    /* align-items: center; */
}

.select-lv{
    min-width: 70px;
}

.menu .device-added{
    border-bottom: 1px #ccc solid;
    /* margin-left: 10px; */
    transition: all ease-in-out 0.4s;
}

.color-gray{
    background-color: #151521;
    color: #ccc;
}

.device-main{
    width: 100%;
    height: 60vh;
    background-color: #949494;
}

.yourCanvas{
    width: 25%;
}

.main-right{
    justify-content: right;
}

.channel-list{
    display: flex;
    flex-direction: row;
}

.PhaseA, .PhaseB, .PhaseC{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 20px;
}

.channel{
    width: calc(100%/6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.channel{
    font-size: 12px;
    color: red;
    font-weight: bold;
}

.channel img {
    width: 20px;
    height: 20px;
} 