*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page-heading{
    margin-top: 30px;
}

.hide{
    display: none !important;
}

.show{
   /* â  */
}

.online{
    padding: 10px 15px;
    background-color: green;
    border-radius: 45%;
}
