* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

#heading {

}

.head-top-blc {
    height: 75px;
    padding: 17px 100px;
    display: flex;
    justify-content: space-between;
}

.head-top-blc .logo {
    padding: 10.5px;
}

.head-top-blc .logo img {
    height: 20px;
}

.head-top-blc .user-dropdown {
    display: flex;
}

.head-top-blc .user-img {

}

.head-top-blc .user-img img {
    width: 40px;
    height: 40px;
    border-radius: 90%;
    border: 1px #333 solid;
    margin-right: 5px;
}

.head-top-blc .user-dis .user-name{
    font-size: 16px;
}

.head-top-blc .dropdown-btn{
    margin: 12px;
}

.head-navbar{
    background-color: #435EBE;
    height: 65px;
    display: flex;
    padding: 0 100px;
}

.head-navbar ul{
    color: #fff;
    display: flex;
    margin: 21px 10px;
    font-size: 16px;
    position: relative;
}

.head-navbar ul span{
    margin: 0 5px;
}

.head-navbar .submenu{
    display: none;
    position: absolute;
    left: -13px;
    flex-direction: column;
    background-color: #fff;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.head-navbar .submenu li{
    font-size: 16px;
    height: 45px;
    padding: 15px 15px;
}

.head-navbar ul:hover .submenu{
    display: flex;
    animation: slideup 0.4s;
}

#content {
    background-color: #F2F7FF;
    min-height: 1000px;
    overflow: hidden;
}

.content-head {
    width: 100vw;
    padding: 50px 7vw;
    font-size: 27px;
    font-weight: bold;
}

.content-main{
    width: 100vw;
    padding: 0 7vw;
    display: flex;
    justify-content: space-between;
}

.content-left-blc{
    width: 75%;
    min-height: 100px;
}

.content-left-blc .top-cnt-main{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 2%
}

.top-cnt-main .prj-view{
    display: flex;
    width: 23.5%;
    height: 130px;
    padding: 32px 24px;
    background-color: #fff;
    border-radius: 5%;
    margin: 20px 0px;
    gap: 15px;
}

.top-cnt-main .prj-view .i-wrapper{
    width: 48px !important;
    height: 48px !important; 
    border-radius: 10px;
    background-color: #9694FF;
}

.i-wrapper i{
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

.top-cnt-main .prj-view .prj-main{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.content-left-blc .prj-chart-js {
    margin: 20px 0;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    overflow: hidden;
}

.content-left-blc .prj-chart-js .prj-chart-hd{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 24px;
    font-size: 20px;
    font-weight: bold;
}

.prj-chart-hd i:hover{
    height: 19px;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.content-left-blc .prj-chart-js .project-table{
    margin: 30px;
}

.project-table td{
    padding: 4px 10px; 
    text-align: center;
}

.content-right-blc{
    width: 23%;
    min-height: 100px;
}

.content-right-blc .user-prj{
    width: 100%;
    height: 108px;
    padding: 24px 48px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    /* justify-content: space-between; */
}

.user-prj .user-prj-img img{
    width: 60px;
    height: 60px;
    border-radius: 90%;
    border: 1px #333 solid;
    margin-right: 20px;
}

.user-prj-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.userprj-name, .userprj-name-tag{
    font-weight: 900;
}

.recent-mes{
    margin: 40px 0;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}

.recent-mes .recent-mes-hd{
    padding: 24px;
    font-size: 20px;
    font-weight: bold;
}

.recent-mes .rc-mess-user{
    padding: 16px 24px;
    display: flex;
}

.rc-mess-user .mess-user-img img{
    width: 48px;
    height: 48px;
    border-radius: 90%;
    border: 1px #333 solid;
    margin-right: 20px;
}

.conver-btn{
    width: 80%;
    padding: 5% 15% ;
    margin: 0 10% 20px;
    background-color: #EBF3FF;
    font-weight: bold;
    border: none;
}

.hide {
    display: none;
}

.show {
    display: flex;
    animation: slidedown 0.3s;
}

.online{
    background-color: rgb(50, 195, 50);
    border-radius: 20%;
    padding: 1px 7px;
}

@keyframes slideup {
    from{
        transform: translateY(20%);
    }

    to{
        transform: translateY(0);
    }
}

@keyframes slidedown {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
    
}