*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page-heading{
    margin-top: 30px;
}

.hide{
    display: none !important;
}

.show{
   /*  */
}

.online{
    padding: 10px 15px;
    background-color: green;
    border-radius: 45%;
}

.table-hd-container{
    display: flex;
    justify-content: space-between;
}

.fa-sort, .fa-x{
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}
